:root {
    --color_a: rgb(255, 248, 248);
    --font_titles: "Anton", sans-serif;
    --size_titles: 30px;
    --color_h2: #fff;
}

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: rgb(80, 78, 78);
}

.nav {
    height: 4rem;
    background: rgb(20, 20, 20);
    border: 1px white;
}

.nav a {
    color: var(--color_a);
    font-family: var(--font_titles);
    font-size: var(--size_titles);
    top: 1.5rem;
}

.table {
    display: inline;
    position: relative;
    left: 0;
    border-spacing: 0.5rem;
    border-collapse: collapse;
}

.table h2 {
    position: absolute;
    display: inline;
    left: 40%;
    padding: 0.5rem;
}

thead,
tbody tr {
    color: #fff;
}

tr th {
    color: #fff;
}

th {
    background-color: black;
}


/* Cuadro de Casos */

.General {
    position: absolute;
    top: 4rem;
    right: 1rem;
    width: 500px;
    height: 300px;
    background: rgb(249,249,249);
    background: radial-gradient(circle, rgba(249,249,249,1) 0%, rgba(52,58,64,1) 65%);
    border-radius: 10px;
}

.Cases {
    position: relative;
    top: 1rem;
    background: rgb(242,182,25);
    background: radial-gradient(circle, rgba(242,182,25,1) 8%, rgba(233,176,148,1) 65%);
    height: 100px;
    padding: 0.2rem;
    border-radius: 10px;
    
}
.Cases h2{
    display: inline-block;
    font-family: var(--font_titles);
    color: var(--color_h2);
}

.recovered {
    position: relative;
    margin-top: -5.40rem;
    background: rgb(23,125,157);
    background: linear-gradient(90deg, rgba(23,125,157,1) 40%, rgba(71,121,242,1) 96%);
    height: 100px;
    padding: 0.2rem;
    border-radius: 10px;
        
}
.recovered h2{
    display: inline-block;
    font-family: var(--font_titles);
    color: var(--color_h2);
}

.Death  {
    position: relative;
    top: 7rem;
    background: rgb(157,54,23);
    background: linear-gradient(90deg, rgba(157,54,23,1) 40%, rgba(242,71,80,1) 96%);
    height: 100px;
    padding: 0.2rem;
    border-radius: 10px;
    
}
.Death h2{
    display: inline-block;
    font-family: var(--font_titles);
    color: var(--color_h2);
    font-size: 30px;
}


.date {
    display: inline;
    position: absolute;
    top: 1rem;
    left: 40%;
    color: var(--color_a);
    font-family: var(--font_titles);
    font-size: var(--size_titles);
}


/* Image Grahp*/

.Container {
    margin-top: 1rem;
    background-color: black;
    
}
.graph {
    position:relative;
    display:inline-block;
}
.graph_log {
    position:absoulte;
    display:inline-block;
    
}

/* buttom*/

.buttom {
    position: relative;
    top: 8rem;
}

#form1 {
    display: none;
}