table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: rgb(80, 78, 78);
}

.nav {
    display: block;
    height: 4rem;
    background: rgb(240, 229, 199);
}

.nav a {
    color: rgb(5, 5, 5);
    position: relative;
    top: 1.5rem;
    font-size: 20px;
}

.table {
    display: inline;
    position: relative;
    top: 4rem;
    left: 0;
    border-spacing: 0.5rem;
    border-collapse: collapse;
}

.table h2 {
    position: absolute;
    display: inline;
    left: 18%;
    padding: 0.5rem;
}

thead,
tbody tr {
    color: #fff;
}

tr th {
    color: #fff;
}

th {
    background-color: black;
}

.cases {
    position: absolute;
    top: 5rem;
    right: 3rem;
    padding: 0.5rem;
    background: #3b434b;
    border-radius: 10px;
}

.table_2 h2 {
    color: rgb(224, 153, 20);
}

.recovered h2 {
    color: rgb(38, 226, 32);
}

.Cases h2 {
    color: red;
}

.date {
    display: inline;
    position: absolute;
    top: 0px;
    left: 40%;
}