{% extends "base.html" %} {% block date %}
<div class="date">
    <h2>{{time.now}} </h2>
</div>
{% endblock %} {% block table_1 %}
<div class="table">
    {% for table in tables %} {{ table|safe }} {% endfor %}
</div>
{% endblock %}

<!-- Total de casos -->{% block Cases %}
<div class="Cases">
    <h2> Casos: {{max_Count.Confirmed_Count}} </h2>
</div>
{% endblock %}
<!-- Fin Total de casos -->
<!-- Total de Fallecidos -->{% block Deaths %}
<div class="Death">
    <h2> Fallecidos: {{deathsCount.deaths}} </h2>
</div>
{% endblock %}
<!-- Fin del total de Fallecidos -->
<!-- Total Recuperados -->{% block Recovered %}
<div class="recovered">
    <h2> Recuperados: {{recovered.recovered}} </h2>
</div>
{% endblock %}
<!-- Fin del total de Recuperados -->{% block Graph %}
<div class="graph">
    <img src="{{url_for('static', filename='graph.png')}}" />
</div>
<!-- Graph Log-->
<div class="graph_log">
    <img src="{{url_for('static', filename='graph_log.png')}}" />
</div>{% endblock %}