{% extends "base.html" %} {% block date %}
<div class="date">
    <h2>{{time.now}} </h2>
</div>
{% endblock %} {% block table_1 %}
<div class="table">
    {% for table in tables %} {{ table|safe }} {% endfor %}
</div>
{% endblock %} {% block Cases %}
<div class="table_2">
    <h2> Cases: {{max_Count.Confirmed_Count}} </h2>
</div>
{% endblock %} {% block Deaths %}
<div class="Cases">
    <h2> Death: {{deathsCount.deaths}} </h2>
</div>
{% endblock %}{% block Recovered %}
<div class="recovered">
    <h2> recovered: {{recovered.recovered}} </h2>
</div>
{% endblock %}